layout {
  tab name="k9s" {
    pane size=1 borderless=true {
        plugin location="zellij:tab-bar"
    }
    pane split_direction="vertical" {
      pane command="k9s" {
        args "-A" "-c nodes"
      }
      pane command="k9s" {
        args "-A" "-c events"
      }
    }
    pane split_direction="vertical" {
      pane command="k9s" {
        args "-A" "-c deployments"
      }
      pane command="k9s" {
        args "-A" "-c jobs"
      }
    }
  }

  tab name="dashboard" {
    pane command="talosctl" {
      args "dashboard"
    }
  }
}
