# yaml-language-server: $schema=https://raw.githubusercontent.com/budimanjojo/talhelper/master/pkg/config/schemas/talconfig.json
---
# renovate: datasource=docker depName=ghcr.io/siderolabs/installer
talosVersion: v1.11.5
# renovate: datasource=docker depName=ghcr.io/siderolabs/kubelet
kubernetesVersion: v1.34.3

clusterName: kubernetes
endpoint: https://192.168.60.2:6443

clusterPodNets:
  - "10.42.0.0/16"
clusterSvcNets:
  - "10.43.0.0/16"

additionalApiServerCertSans: &sans
  - "127.0.0.1"
  - "192.168.60.2"
additionalMachineCertSans: *sans

# Disable built-in CNI to use Cilium
cniConfig:
  name: none

nodes:
  - hostname: "k8s-01"
    ipAddress: "192.168.60.210"
    installDisk: "/dev/nvme0n1"
    machineSpec:
      secureboot: false
    talosImageURL: factory.talos.dev/installer/914684a73a4fdae7148457dbf4f4c481b7b1c52a4d247aa4368c7f1ab6847d69
    controlPlane: true
    extensionServices:
      - name: nut-client
        configFiles:
          - content: MONITOR 192.168.10.11 1 admin secret master
            mountPath: /usr/local/etc/nut/upsmon.conf
    networkInterfaces:
      - deviceSelector:
          hardwareAddr: "24:8a:07:fb:62:b1"
        dhcp: true
        mtu: 1500
        vip:
          ip: "192.168.60.2"
  - hostname: "k8s-02"
    ipAddress: "192.168.60.220"
    installDisk: "/dev/nvme0n1"
    machineSpec:
      secureboot: false
    talosImageURL: factory.talos.dev/installer/914684a73a4fdae7148457dbf4f4c481b7b1c52a4d247aa4368c7f1ab6847d69
    controlPlane: true
    extensionServices:
      - name: nut-client
        configFiles:
          - content: MONITOR 192.168.10.11 1 admin secret master
            mountPath: /usr/local/etc/nut/upsmon.conf
    networkInterfaces:
      - deviceSelector:
          hardwareAddr: "f4:52:14:f8:50:61"
        dhcp: true
        mtu: 1500
        vip:
          ip: "192.168.60.2"
  - hostname: "k8s-03"
    ipAddress: "192.168.60.230"
    installDisk: "/dev/nvme0n1"
    machineSpec:
      secureboot: false
    talosImageURL: factory.talos.dev/installer/914684a73a4fdae7148457dbf4f4c481b7b1c52a4d247aa4368c7f1ab6847d69
    controlPlane: true
    extensionServices:
      - name: nut-client
        configFiles:
          - content: MONITOR 192.168.10.11 1 admin secret master
            mountPath: /usr/local/etc/nut/upsmon.conf
    networkInterfaces:
      - deviceSelector:
          hardwareAddr: "ec:0d:9a:0a:ec:21"
        dhcp: true
        mtu: 1500
        vip:
          ip: "192.168.60.2"
  - hostname: "k8s-04"
    ipAddress: "192.168.60.240"
    installDisk: "/dev/sda"
    machineSpec:
      secureboot: false
    talosImageURL: factory.talos.dev/installer/914684a73a4fdae7148457dbf4f4c481b7b1c52a4d247aa4368c7f1ab6847d69
    controlPlane: false
    extensionServices:
      - name: nut-client
        configFiles:
          - content: MONITOR 192.168.10.11 1 admin secret master
            mountPath: /usr/local/etc/nut/upsmon.conf
    networkInterfaces:
      - deviceSelector:
          hardwareAddr: "32:d8:d3:34:53:36"
        dhcp: true
        mtu: 1500
  - hostname: "k8s-05"
    ipAddress: "192.168.60.250"
    installDisk: "/dev/sda"
    machineSpec:
      secureboot: false
    talosImageURL: factory.talos.dev/installer/914684a73a4fdae7148457dbf4f4c481b7b1c52a4d247aa4368c7f1ab6847d69
    controlPlane: false
    extensionServices:
      - name: nut-client
        configFiles:
          - content: MONITOR 192.168.10.11 1 admin secret master
            mountPath: /usr/local/etc/nut/upsmon.conf
    networkInterfaces:
      - deviceSelector:
          hardwareAddr: "82:2a:03:56:32:77"
        dhcp: true
        mtu: 1500

# Global patches
patches:
  - "@./patches/global/machine-extrakernelargs.yaml"
  - "@./patches/global/machine-features.yaml"
  - "@./patches/global/machine-files.yaml"
  - "@./patches/global/machine-kubelet.yaml"
  - "@./patches/global/machine-network.yaml"
  - "@./patches/global/machine-sysctls.yaml"
  - "@./patches/global/machine-time.yaml"
  - "@./patches/global/mutatingadmissionpolicy.yaml"

# Controller patches
controlPlane:
  patches:
    - "@./patches/controller/admission-controller-patch.yaml"
    - "@./patches/controller/cluster.yaml"
    - "@./patches/controller/machine-features.yaml"
