clients:
  qbt:
    download_path: /media/downloads/torrents/complete
    enabled: true
    filter: default
    type: qbittorrent
    url: http://qbittorrent.media.svc.cluster.local
filters:
  default:
    MapHardlinksFor:
      - retag
    ignore:
      - IsTrackerDown()
      - Downloaded == false && !IsUnregistered()
      - SeedingHours < 26 && !IsUnregistered()
    remove:
      - IsUnregistered()
      - HasAnyTag("noHL") && SeedingDays > 7
      - HasAllTags("noHL", "cross-seed")
    tag:
      - { name: tracker-down,  update: ['IsTrackerDown()'] }
      - { name: noHL,          update: ['HardlinkedOutsideClient == false && Label in ["movies-1080p", "movies-2160p", "tv-1080p", "tv-2160p"]'] }
      - { name: activity:1d,   update: ['LastActivityDays < 7'] }
      - { name: activity:7d,   update: ['LastActivityDays >= 7 && LastActivityDays < 14'] }
      - { name: activity:14d,  update: ['LastActivityDays >= 14 && LastActivityDays < 30'] }
      - { name: activity:30d,  update: ['LastActivityDays >= 30 && LastActivityDays < 180'] }
      - { name: activity:180d, update: ['LastActivityDays >= 180'] }
      - { name: added:1d,      update: ['AddedDays < 7'] }
      - { name: added:7d,      update: ['AddedDays >= 7 && AddedDays < 14'] }
      - { name: added:14d,     update: ['AddedDays >= 14 && AddedDays < 30'] }
      - { name: added:30d,     update: ['AddedDays >= 30 && AddedDays < 180'] }
      - { name: added:180d,    update: ['AddedDays >= 180'] }
      - { name: site:FNP,      update: ['TrackerName == "fearnopeer.com"'] }
      - { name: site:HUNO,     update: ['TrackerName == "hawke.uno"'] }
      - { name: site:LST,      update: ['TrackerName == "lst.gg"'] }
      - { name: site:ME,       update: ['TrackerName == "milkie.cc"'] }
      - { name: site:SP,       update: ['TrackerName == "seedpool.org"'] }
      - { name: site:ST,       update: ['TrackerName == "scenetime.com"'] }
      - { name: site:TL,       update: ['TrackerName in ["tleechreload.org", "torrentleech.org"]'] }
      - { name: site:OTW,      update: ['TrackerName == "oldtoons.world"'] }
      - { name: public,        update: ['IsPublic == true'] }
